<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <div style="margin-top: 35px;"></div>
    <div *ngIf="isFail" class="alert alert-danger" role="alert" style="margin-left: 30px; margin-right: 30px;">
      Invalid Username Or Password.
    </div>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://cdn-icons-png.flaticon.com/512/295/295128.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-2">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email Address"
        formControlName="emailAddress">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password"
        formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Login">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter"></div>
  </div>
</div>