<div class="wrapper d-flex align-items-stretch">
    <app-admin-header></app-admin-header>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5" style="margin-left: 20%;">
        <h1 class="display-4">Book Management <img src="https://img.icons8.com/bubbles/50/000000/book-shelf.png"/> </h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <app-book-register></app-book-register>
    </div>
</div>
